.right-title {
    line-height: 16px;
    padding-bottom: 20px;
    font-weight: bold;
}

.con-right img {
    margin-bottom: 45px;
}

.con-right>ul:after {
    display: block;
    content:"";
    clear: both;
    margin-bottom: 45px;
}

.con-right>ul li {
    float:left;
}

.con-right>ul li:last-child {
    float:right;
}