.part>div {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.part .middle {
    height: 600px;
}

/* .part .bottom {
    height: 600px;
} */

.part{
    background: #fff3f3;
}

.part:nth-child(2) {
    background: #ececec;
}





.part>div hr {
    margin-top: 60px;
}


.part>div .title {
    position: absolute;
    left: 50%;
    margin-left: -70px;
    top: 32px;
    background: #fff3f3;
    width: 140px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}

.part>div .title-two {
    background: #ececec
}


.part>div .title p:last-child {
    font-size: 30px;
}

.change-button {
    width: 60px;
    height: 200px;
    text-align:center;
    line-height: 200px;
    /* vertical-align:top; */
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    padding-top: 15px;
    margin-top: -100px;
    z-index: 100;
    /* background: red; */

}

.change-button:hover {
    background: rgba(0,0,0,0.4);
}
.left {
    left: 0;
}
.right{
    right: 0;
}

.change-button img {
    width: 45px;
    height: 174px;
}

.display-box {
    /* margin-top: 60px; */
    /* background: lime; */
    width: 1055px;
    height: 480px;
    overflow: hidden;
    margin: 60px auto 0;
    text-align: center;
    position: relative;
}

.display-box>ul {
    position: absolute;
    width: 999999px;
    height: 480px;
    left: -1116px;
    transition: left 1s;
    /* position: absolute; */

}

.display-box>ul>li {
    border: 1px solid black;
    float: left;
    margin-right: 60px;
}

.display-box img {
    width: 310px;
    height: 345px;
}



.content .article {
    padding: 65px 0;
    text-indent: 2em;
    font-size: 14px;
    font-weight: bold;
}



.content .picture-text {
    padding-top: 110px;
}


.content .picture-text img {
    width: 410px;
    height: 200px;
    float: left;
    margin-right: 30px;
}

.content .picture-text .text-end {
    margin-top: 35px;
}




